<div class="product-company">
    am - pm
</div>

<div class="product" ng-repeat="product in products">
    <div class="product-image">
        <img src="{{ product.img_src }}" alt="">
    </div>

    <div class="product-price">
        {{ product.price }} nis
    </div>

    <div class="product-reminder" ng-click="clickReminder(product)">
        <img src="images/Icon-notifications-black-empty-off-200x200.png" height=50px alt="">
        <br>
        <span>Remind me later</span> 
    </div>

</div>